* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

h1,
h2,
h3 {
  font-family: "Fraunces";
}

body {
  font-family: "Barlow";
  color: #23303e;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

#drop-down {
  display: none;
  background-color: white;
  width: 90%;
  margin: auto;
}

#drop-down ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

#drop-down li {
  padding: 0;
  margin: 1.5em 5em;
}

#drop-down a {
  color: #23303e;
}

.contact-drop {
  background-color: #fad400;
  padding: 1em 1.5em;
  border-radius: 2em;
  font-family: "Fraunces";
  font-weight: 600;
}

header {
  background-image: url(images/desktop/image-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 850px;
}

header .burger-container {
  display: none;
}

header h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3.5em;
  letter-spacing: 0.2em;
  padding: 1.5em 0 2em 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3em 3em;
}

nav li {
  padding-left: 2.5em;
}

nav a {
  color: white;
}

nav a:hover {
  color: #23303e;
  opacity: 1;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

nav .contact {
  color: #23303e;
  background-color: white;
  padding: 1em 1.5em;
  border-radius: 2em;
  font-family: "Fraunces";
  font-weight: 600;
}

nav .contact:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.418);
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.container--cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 600px 600px 600px;
      grid-template-rows: 600px 600px 600px;
}

.container--cards h2 {
  font-size: 2.5em;
  padding-bottom: 1em;
}

.container--cards h3 {
  font-size: 2em;
  padding-bottom: 1em;
  color: #23303e;
}

.container--cards p {
  padding-bottom: 2em;
  line-height: 1.5;
}

.container--cards__card1 {
  padding: 10em 5em 0 10em;
}

.container--cards__card1 h2 {
  max-width: 10em;
}

.container--cards__card1 p {
  max-width: 25em;
  color: #818498;
}

.container--cards__card2 {
  background-image: url(images/desktop/image-transform.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.container--cards__card3 {
  background-image: url(images/desktop/image-stand-out.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.container--cards__card3 h2 {
  max-width: 10em;
}

.container--cards__card3 p {
  max-width: 25em;
  color: #818498;
}

.container--cards__card4 {
  padding: 10em 5em 0 8em;
}

.container--cards__card4 h2 {
  max-width: 15em;
}

.container--cards__card5 {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.container--cards__card6 {
  background-image: url(images/desktop/image-photography.jpg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  text-align: center;
}

.container--cards .text {
  max-width: 350px;
  margin: 25em auto 1em auto;
}

.container--cards .learn {
  text-transform: uppercase;
  color: #23303e;
  font-family: "Fraunces";
}

.container--cards .learn1 {
  -webkit-box-shadow: inset 0 -0.5rem 0 0 rgba(250, 212, 0, 0.5);
          box-shadow: inset 0 -0.5rem 0 0 rgba(250, 212, 0, 0.5);
}

.container--cards .learn1:hover {
  -webkit-box-shadow: inset 0 -0.5rem 0 0 #fad400;
          box-shadow: inset 0 -0.5rem 0 0 #fad400;
}

.container--cards .learn2 {
  -webkit-box-shadow: inset 0 -0.5rem 0 0 rgba(254, 120, 103, 0.5);
          box-shadow: inset 0 -0.5rem 0 0 rgba(254, 120, 103, 0.5);
}

.container--cards .learn2:hover {
  -webkit-box-shadow: inset 0 -0.5rem 0 0 #fe7867;
          box-shadow: inset 0 -0.5rem 0 0 #fe7867;
}

.container--testimonials {
  text-align: center;
  margin-top: 10em;
}

.container--testimonials h2 {
  color: #a7abae;
  letter-spacing: 0.3em;
  font-size: 1.5em;
}

.container--testimonials img {
  border-radius: 50%;
  width: 20%;
  margin-bottom: 4em;
}

.container--testimonials__container {
  padding-top: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container--testimonials .content {
  padding: 1.8em;
  line-height: 1.5;
  max-width: 360px;
}

.container--testimonials .user {
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Fraunces";
  margin: 3em 0 0.8em 0;
}

.container--testimonials .jobDesc {
  font-size: 0.85em;
  color: #a7abae;
}

.container--kard {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 440px;
      grid-template-rows: 440px;
  margin-top: 7em;
}

.container--kard__card1 {
  background-image: url(images/desktop/image-gallery-milkbottles.jpg);
}

.container--kard__card2 {
  background-image: url(images/desktop//image-gallery-orange.jpg);
}

.container--kard__card3 {
  background-image: url(images/desktop/image-gallery-cone.jpg);
}

.container--kard__card4 {
  background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
}

.container--kard .card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  background-color: #8fc1b7;
  text-align: center;
  padding: 5em;
  color: #25564b;
}

footer h2 {
  font-size: 2.5em;
  font-family: "Barlow";
  font-weight: 600;
  margin-bottom: 1em;
}

footer ul {
  padding: 0;
}

footer li {
  margin: 1.5em;
}

footer a {
  color: #25564b;
}

footer a:hover {
  color: white;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

footer .fa {
  margin: 5em 0.8em 0 0.8em;
  font-size: 1.5em;
}

footer .fa:hover {
  color: white;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.author {
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  span {
    display: block;
  }
  #drop-down {
    display: none;
    position: absolute;
    right: 5%;
  }
  header {
    background-image: url(images/mobile/image-header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
  }
  header h1 {
    font-size: 2em;
  }
  nav {
    padding: 2em;
  }
  nav .header--navbar__buttons {
    display: none;
  }
  nav .burger-container {
    display: inline;
  }
  .container--cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container--cards h2 {
    font-size: 2em;
  }
  .container--cards__card1 {
    width: 90;
    padding: 3em 2em;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .container--cards__card1 p {
    max-width: 15em;
    margin: auto;
  }
  .container--cards__card1 h2 {
    max-width: 10em;
    margin: auto;
  }
  .container--cards__card2 {
    background-image: url(images/mobile/image-transform.jpg);
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .container--cards__card3 {
    background-image: url(images/mobile/image-stand-out.jpg);
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .container--cards__card4 {
    padding: 3em 2em;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .container--cards__card4 p {
    max-width: 18em;
    margin: auto;
  }
  .container--cards__card4 h2 {
    max-width: 10em;
    margin: auto;
  }
  .container--cards__card5 {
    background-image: url(images/mobile/image-graphic-design.jpg);
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .container--cards__card6 {
    background-image: url(images/mobile/image-photography.jpg);
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .container--cards .card {
    width: 100%;
    min-height: 40vh;
    text-align: center;
  }
  .container--testimonials {
    margin-top: 3em;
  }
  .container--testimonials h2 {
    letter-spacing: 0.2em;
    font-size: 1.2em;
  }
  .container--testimonials img {
    margin-bottom: 1.5em;
  }
  .container--testimonials .user {
    font-weight: 700;
    font-size: 1.2em;
    font-family: "Fraunces";
    margin: 1.5em 0 0.8em 0;
  }
  .container--testimonials__container {
    padding-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container--kard {
    margin-top: 2em;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 200px 200px;
        grid-template-rows: 200px 200px;
  }
  .container--kard__card1 {
    background-image: url(images/mobile/image-gallery-milkbottles.jpg);
  }
  .container--kard__card2 {
    background-image: url(images/mobile/image-gallery-orange.jpg);
  }
  .container--kard__card3 {
    background-image: url(images/mobile/image-gallery-cone.jpg);
  }
  .container--kard__card4 {
    background-image: url(images/mobile/image-gallery-sugar-cubes.jpg);
  }
  footer {
    padding: 3em 1em;
  }
  footer .fa {
    margin: 2em 0.8em 0.5em 0.8em;
  }
  footer li {
    margin: 0.5em;
  }
}
/*# sourceMappingURL=styles.css.map */